@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Geologica:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
    --color-dark: #151515;
    --color-light: #ffffff;
    --color-light-table: #f8f8f8;
    --color-primary: #465f9f;
    --color-secondary: #c8ceda;
    --color-pink: #be99c3;
    --color-pink-dark: #9793b2;

    --font-geologica: "Geologica", serif;
}

@layer components {
   .bg-prim {
       position: fixed;
       top: 0;
       left: 0;
       width: 100vw;
       height: 100vh;
       background-image: url("assets/background.webp");
       background-position: center;
       background-repeat: no-repeat;
       background-size: cover;
       background-attachment: fixed;
       z-index: -1;
   }

    .lin-transition {
        transition-duration: 0.3s;
        transition-timing-function: linear;
    }

    .eio-transition {
        transition-duration: 0.3s;
        transition-timing-function: ease-in-out;
    }
}

@layer utility {
    .class-head {
        @apply px-4 pb-2 pt-2 text-center text-sm uppercase bg-gray-300 text-light border-b-2 border-b-gray-100;
    }
}