@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap');
@import "tailwindcss";
@variant dark (&:where([data-theme="dark"], [data-theme="dark"] *));

@theme {
    --color-dark: #151515;
    --color-light: #ffffff;
    --color-light-table: #f8f8f8;
    --color-primary-l: #6d64c2;
    --color-primary: #465f9f;
    --color-dark-primary: #314b8c;
    --color-dmode: #181b2a;
    --color-dmode-input: #1e2131;
    --color-dmode-input-l: #1f2233;
    --color-dmode-border: #282b3b;
    --color-dark-grey: #84889b;
    --color-red-grad: rgba(231, 76, 60, 0.1);
    --color-green-grad: rgba(60, 231, 108, 0.1);

    --font-geologica: "Geologica", serif;

    --bglight: url("assets/background.webp");
    --bgdark: url("assets/background-dark.webp");
}

@layer components {
    .bg-prim {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        z-index: -1;
    }

    .eio-transition {
        transition-duration: 0.3s;
        transition-timing-function: ease-in-out;
    }

    .lin-transition {
        @apply duration-300 ease-linear
    }

    .btn1 {
        @apply dark:text-dark dark:bg-light dark:hover:bg-dark-primary dark:hover:text-light z-200 relative bg-dark hover:bg-primary hover:cursor-pointer text-light rounded-full w-7 h-7 flex justify-center items-center duration-300 ease-linear
    }

    .btn1-disabled {
        @apply dark:bg-dmode-border dark:text-dmode relative bg-gray-200 text-light rounded-full w-7 h-7 flex justify-center items-center duration-300 ease-linear cursor-not-allowed;
    }

    .btn2 {
        @apply dark:text-light dark:bg-dmode dark:border-dmode-border z-200 flex justify-center items-center bg-light rounded border-3 border-dark w-10 h-10 p-1 text-dark hover:cursor-pointer
    }

    .btn3 {
        @apply dark:text-light dark:bg-dmode dark:border-dark-primary z-200 flex justify-center items-center bg-light rounded border-3 border-primary w-10 h-10 p-1 text-dark hover:cursor-pointer
    }

    .light-shadow {
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    }

    .light-shadow-top {
        box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.1);
    }

    .circular-gradient {
        background-image: radial-gradient(circle,  var(--color-primary-l) 0%, var(--color-primary) 70%, transparent 100%);
    }

    .loader {
        width: 35px;
        height: 35px;
        border: 5px solid #FFF;
        border-bottom-color: var(--color-primary);
        border-radius: 50%;
        display: inline-block;
        box-sizing: border-box;
        animation: rotation 1s linear infinite;
    }

    @keyframes rotation {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }

}
